[user]
  name = Justin McGuire
  email = jm@landedstar.com

[alias]
  lg2 = log --graph --pretty=format:'%h -%d %s (%cr) <%an>' --abbrev-commit --date=relative

[color]
  use = true

[core]
  excludesfile = ~/.gitignore
  pager = less -F -X
	autocrlf = input

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[pager]
  branch = false

[init]
  defaultBranch = main

# sometimes causes trouble with cargo, when used a certain way, like with bazel
[url "git@github.com:"]
  insteadOf = https://github.com/

[net]
  git-fetch-with-cli = true
